.navbar-nav .nav-link.active {
    color: #fff;
}

.nav-link {
    text-align: center;
}

body {
    background-color: #23252B;
}

.carousel-item {
    max-height: 80vh;
}

.btn-play {
    background-color: #FF640A;
    color: #23252B;
    align-self: center;
}

.btn:hover {
    background-color: #f89053;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #FF640A;
    z-index: 3;
}

footer {
    background-color: #FF640A;
    padding: 2rem;
    text-align: center;

    p {
        color: #CCC;
    }

    a {
        color: #FFF;
        text-decoration: underline;
    }

    a:hover {
        color: #52AAF7;
    }
}